.containerAb {
    min-height: 80vh;
}

.portrait {
    display: block;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 60vh;
}

.text {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    max-width: 80vw;
}